In [1]:
import pandas as pd

In [2]:
us_states = pd.read_csv('data/us-states.csv')
us_states = us_states[['state', 'date', 'cases']]
us_states['date'] = pd.to_datetime(us_states['date'])

# Remove unneeded parts of the US
us_states = us_states[us_states['state'] != 'Northern Mariana Islands']
us_states = us_states[us_states['state'] != 'Guam']
us_states = us_states[us_states['state'] != 'Virgin Islands']
us_states = us_states[us_states['state'] != 'Puerto Rico']

us_states['date'] = us_states['date'].dt.month
us_states = us_states.groupby(['state', 'date']).max()
for state in us_states.index.get_level_values(0).unique():
    us_states.loc[(state, 0), :] = 0
    us_states.loc[(state, 11), :] = 0
us_states = us_states.reset_index()
us_states = us_states.sort_values(['state', 'date'])
us_states['monthly cases'] = us_states['cases'].diff()
us_states = us_states[(us_states['date'] > 0) & (us_states['date'] < 11)]
us_states = us_states.drop('cases', axis=1).set_index(['state', 'date'])

for state in us_states.index.get_level_values(0).unique():
    for month in range(1, 11):
        if not ((us_states.index.get_level_values(0) == state) & (us_states.index.get_level_values(1) == month)).any():
            us_states.loc[(state, month), :] = 0
us_states = us_states.reset_index().sort_values(['state', 'date']).reset_index(drop=True)

In [3]:
dataframe = us_states.copy()

In [4]:
dataframe

       state  date  monthly cases
0    Alabama     1            0.0
1    Alabama     2            0.0
2    Alabama     3          999.0
3    Alabama     4         6069.0
4    Alabama     5        10884.0
..       ...   ...            ...
505  Wyoming     6          584.0
506  Wyoming     7         1239.0
507  Wyoming     8         1116.0
508  Wyoming     9         2106.0
509  Wyoming    10         3077.0

[510 rows x 3 columns]

In [5]:
us_states = pd.read_csv('data/us-states.csv')
us_states = us_states[['state', 'cases']]

# Remove unneeded parts of the US
us_states = us_states[us_states['state'] != 'Northern Mariana Islands']
us_states = us_states[us_states['state'] != 'Guam']
us_states = us_states[us_states['state'] != 'Virgin Islands']
us_states = us_states[us_states['state'] != 'Puerto Rico']
us_states = us_states.groupby('state').max().reset_index()
us_states['cases normalized'] = us_states['cases'] / us_states['cases'].sum()
us_states = us_states.set_index('state')

In [6]:
dataframe['total cases'] = 0
dataframe['normalized total cases'] = 0

In [7]:
us_states

                       cases  cases normalized
state
Alabama               172626          0.021239
Alaska                 11934          0.001468
Arizona               231149          0.028440
Arkansas               99066          0.012189
California            878346          0.108068
Colorado               85803          0.010557
Connecticut            62830          0.007730
Delaware               23093          0.002841
District of Columbia   16370          0.002014
Florida               755012          0.092894
Georgia               326080          0.040120
Hawaii                 14183          0.001745
Idaho                  53092          0.006532
Illinois              348870          0.042924
Indiana               150005          0.018456
Iowa                  107334          0.013206
Kansas                 72722          0.008947
Kentucky               89538          0.011016
Louisiana             178869          0.022007
Maine                   5939          0.000731
Maryland              136149          0.016751
Massachusetts         143660          0.017675
Michigan              159337          0.019604
Minnesota             122865          0.015117
Mississippi           110006          0.013535
Missouri              162156          0.019951
Montana                22821          0.002808
Nebraska               58068          0.007144
Nevada                 90374          0.011119
New Hampshire           9694          0.001193
New Jersey            221802          0.027290
New Mexico             36788          0.004526
New York              489016          0.060167
North Carolina        246116          0.030281
North Dakota           31983          0.003935
Ohio                  181787          0.022366
Oklahoma              107299          0.013202
Oregon                 39532          0.004864
Pennsylvania          186772          0.022980
Rhode Island           27691          0.003407
South Carolina        163990          0.020177
South Dakota           33269          0.004093
Tennessee             225126          0.027699
Texas                 868917          0.106908
Utah                   94394          0.011614
Vermont                 1937          0.000238
Virginia              166138          0.020441
Washington            102403          0.012599
West Virginia          20081          0.002471
Wisconsin             175652          0.021612
Wyoming                 9025          0.001110

In [8]:
for state in dataframe['state'].unique():
    dataframe.loc[dataframe['state'] == state, 'total cases'] = us_states.loc[state]['cases']
    dataframe.loc[dataframe['state'] == state, 'normalized total cases'] = us_states.loc[state]['cases normalized']

In [9]:
dataframe.to_csv('data/filtered-data.csv', index=False)